
<div class="bellow-navbar">
  <div class="text-center">
    <h2>My places on AirBnB</h2>
  </div>

  <div class="container">
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-xs-6 col-sm-4">
          <div class="card">
            <%= image_tag product.picture.url(:medium), class: "card-img" %>
            <div class="card-label">
              <span><%= product.night_price %></span>
              <sup>$</sup>
            </div>
            <div class="card-content">
              <p><%= product.title %></p>
            </div>
            <div class="card-content">
              <p><%=product.description %></p>
            </div>
          </div>

          <p class="text-center">
            <%= link_to "edit", edit_account_product_path(product) %>
          </p>
        </div>
     <% end %>
    </div>
  </div>
</div>
