<div class="container padded">

  <%# if @product.picture %>
    <%#= image_tag @product.picture.url(:medium) %>
  <%# end %>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">


      <h2>Change your booking</h2>
      <%= simple_form_for(@booking) do |f| %>
        <%= f.error_notification %>
        <div class="input-daterange" id="datepicker">
          <%= f.text_field :check_in, :class => 'input-small', :id => 'booking_check_in'%>
          <span class="add-on">to</span>
           <%= f.text_field :checkout, :class => 'input-small', :id => 'booking_check_out'%>
        </div>
        <%= f.input :message %>
        <%= f.button :submit, class: "button btn btn-primary", value:'Updated'%>
      <% end %>
    </div>
  </div>
</div>

