<div class="container text-center padded">
<h2 class="title">Your booking</h2>
  <div class="listing">
    <div class="col-xs-12 ls-title">
      <h4><div class="col-xs-4">
        <div class='first-col'>Your places</div>
      </div>

      <div class="col-xs-2">
        <div>Check-in</div>
      </div>

      <div class="col-xs-2">
        <div>Check-Out</div>
      </div>

      <div class="col-xs-2">
        <div>Current status</div>
      </div>

      <!-- <div class="col-xs-2">
        Edit
      </div> -->
    </div></h4>

    <% @bookings.each do | booking | %>
      <div class="col-xs-12 ls-row">
        <div class="col-xs-4">
          <div class='first-col'><%= booking.product.title %></div>
        </div>

        <div class="col-xs-2">
          <div><%= booking.check_in %></div>
        </div>

        <div class="col-xs-2">
          <div><%= booking.checkout %></div>
        </div>

        <div class="col-xs-2">
          <div><%= booking.status %></div>
        </div>


        <div class="col-xs-1 col-xs-offset-1">
          <div><%= link_to "Edit", edit_booking_path(booking), class:'btn listing-btn' %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>