
<!-- Value prop & video-->
<div class="video-wrapper">
  <div class="content">
    <h2>Find a cheap and comfortable place to stay everywhere you travel</h2>
      <%= link_to "See places", products_path, { class: 'btn btn-danger' } %>
  </div>
      <video autoplay="autoplay" muted="muted" loop preload="auto">
          <source src="http://mazwai.com/system/posts/videos/000/000/160/original/leonard_soosay--for_benny.mp4?1424004527" type="video/mp4">
          <source src="http://mazwai.com/system/posts/videos/000/000/160/webm/leonard_soosay--for_benny.webm?1424004527" type="video/webm">
      </video>
</div>

<!-- Concept -->
<div class="bg-white text-center">
  <div class="row">
    <div class="col-xs-12 band">
      <div class="col-sm-4">
        <%= image_tag "save_money.svg", {id: "save_money", alt:"Save Money"}%>
        <p>Save Money</p>
      </div>

      <div class="col-sm-4">
        <%= image_tag "increase_revenue.svg", {id: "increase_revenue", alt:"Increase Revenue"}%>
        <p>Increase Revenue</p>
      </div>

      <div class="col-sm-4">
        <%= image_tag "share_culture.svg", {id: "share_culture", alt:"Share Culture" } %>
        <p>Share Culture</p>
      </div>
    </div>
  </div>
</div>

<!-- Product Snapshot -->


<div class="bg-gray-lighter text-center">
  <div class="row">
    <div class="col-xs-12 band">

      <% @products.each do |p| %>
          <%= render "_product", product: p %>
      <% end %>
   <!-- Statique à supprimer - MAX -->
   <!--    <div class=" col-sm-4">
        <%#= image_tag "appart_small.jpg", {id: "appart", alt:"Appartement"}%>
        <h4>Title appart</h4>
      </div>

      <div class="col-sm-4">
        <%#= image_tag "appart_small.jpg", {id: "appart", alt:"Appartement"}%>
        <h4>Title appart</h4>
      </div>

      <div class="col-sm-4">
       <%#= image_tag "appart_small.jpg", {id: "appart", alt:"Appartement"}%>
        <h4>Title appart</h4>
      </div> -->
    </div>
  </div>
</div>
