
<!-- Value prop & video-->
<div class="video-wrapper">
  <div class="content">
    <h2>Find a cheap and comfortable place to stay everywhere you travel</h2>

      <!-- Search tools -->
      <div class="search">
        <ul class='list-inline'>
        <%= form_tag search_path, method: :get do %>
          <li>
            <div class="col-sm-3 col-sm-offset-3">
              <%= text_field_tag :search, params[:search], id: "user_input_autocomplete_address", placeholder: "Where do you want to go", class: "form-control" %>
            </div>
          </li>

         <li>
            <div class="input-daterange col-sm-2" id="datepicker">
              <%= text_field_tag :check_in, params[:check_in], placeholder: 'check-in', :class => 'input-small form-dpicker', :id => 'booking_check_in'%>
               <%= text_field_tag :checkout, params[:checkout], placeholder: 'check-out', :class => 'input-small form-dpicker', :id => 'booking_check_out'%>
            </div>
          </li>

          <li>
            <div class="col-sm-1">
              <%= button_tag "Search", class: "btn btn-danger" %>
            </div>
          </li>
      <% end %>
        </ul>
      </div>
  </div>
      <video autoplay="autoplay" muted="muted" loop preload="auto">
          <source src="http://mazwai.com/system/posts/videos/000/000/160/original/leonard_soosay--for_benny.mp4?1424004527" type="video/mp4">
          <source src="http://mazwai.com/system/posts/videos/000/000/160/webm/leonard_soosay--for_benny.webm?1424004527" type="video/webm">
      </video>
    </div>
</div>

<!-- Concept -->
<div class="bg-white text-center">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-sm-4">
        <%= image_tag "save_money.svg", {id: "save_money", alt:"Save Money"}%>
        <h4>Save Money</h4>
        <div class="text-info col-xs-10 col-xs-offset-1 bg-gray-lighter">
          <p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke.</p>
        </div>
      </div>

      <div class="col-sm-4">
        <%= image_tag "increase_revenue.svg", {id: "increase_revenue", alt:"Increase Revenue"}%>
        <h4>Increase Revenue</h4>
        <div class="text-info col-xs-10 col-xs-offset-1 bg-gray-lighter">
          <p> Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke.</p>
        </div>
      </div>

      <div class="col-sm-4">
        <%= image_tag "share_culture.svg", {id: "share_culture", alt:"Share Culture" } %>
        <h4>Share Culture</h4>
        <div class="text-info col-xs-10 col-xs-offset-1 bg-gray-lighter">
          <p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Product Snapshot -->


<div class="bg-gray-lighter text-center">
  <div class="row">


      <% @products.each do |product| %>
        <%= link_to(product) do %>
          <div class="col-xs-6 col-sm-4">
            <%= render "products/card", product: product, footer: true %>
          </div>
        <% end %>
      <% end %>
  </div>
   <!-- Statique à supprimer - MAX -->
   <!--    <div class=" col-sm-4">
        <%#= image_tag "appart_small.jpg", {id: "appart", alt:"Appartement"}%>
        <h4>Title appart</h4>
      </div>

      <div class="col-sm-4">
        <%#= image_tag "appart_small.jpg", {id: "appart", alt:"Appartement"}%>
        <h4>Title appart</h4>
      </div>

      <div class="col-sm-4">
       <%#= image_tag "appart_small.jpg", {id: "appart", alt:"Appartement"}%>
        <h4>Title appart</h4>
      </div> -->
</div>



