<div class="container padded">
  <div class="col-sm-4 col-sm-offset-4">
    <%= simple_form_for(@product) do |f| %>
      <%= f.error_notification %>

      <%= f.input :title %>
      <%= f.input :address, :input => false %>
      <%= text_field :search, params[:search], id: "user_input_autocomplete_address",  class: "form-control", name:"product[address]", value: "#{@product.address}" %>
      <br>
      <%= f.input :night_price %>
      <%= f.input :description %>
      <%= f.input :online, as: :radio_buttons %>
      <%= f.input :picture %>

      <%= f.button :submit %>
    <% end %>
  </div>
</div>

