<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) || "Airbnb-alm" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "shared/navbar" %>
  <%= yield %>
  <%= render "shared/footer" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield(:js) %>
 <!--  ## TODO  Change with refacto rail course -->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</body>
</html>